/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px; 
    font-weight: 600;
    border: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(52, 51, 51, 0.2);
    z-index: 1;
    color: black;
    font-size: small;
  }
  
  .dropdown2-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(52, 51, 51, 0.2);
    z-index: 1;
  }
  
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown2-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropdown2-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: transparent;}
  
  